.header {
	text-transform: uppercase;
	text-align: center;
	background-color: $dark-grey-color;
	color: white;
	padding: 2rem 0;

	h1 {
		font-size: 3rem;
		margin-bottom: 0.5rem;
		font-weight: 400;
	}

	h2 {
		font-size: 2rem;
		font-weight: 500;
	}
}
